<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

    <!-- header -->
    <div class="header">
        <div class="inner">
            <img src="./static/img/base/logo.png" alt="logo">

            <div class="nav">
                <a href="#">여행지</a>
                <a href="#">맞춤추천</a>
                <a href="#">찜</a>
                <a href="#">마이페이지</a>
            </div>


            <div class="search">
                <input type="text" placeholder="검색어를 입력하세요.">
                <img src="./static/img/base/search.svg" alt="search">
            </div>
            <div class="user-menu">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
            </div>


        </div>
    </div>

    <div id="slider">
            <!-- Swiper -->
            <div class="main slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-color: #333;">
                        <img src=""alt="1">
                    </div>
                    <div class="swiper-slide" style="background-color: #333;">
                        <img src="" alt="1">
                    </div>
                    <div class="swiper-slide" style="background-color: #333;">
                        <img src=""alt="1">
                    </div>
                    <div class="swiper-slide" style="background-color: #333;">
                        <img src="" alt="1">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>

    <div class="content">
    </div>


    <div class="footer">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.js"></script>
</body>

</html>